if SHIELD_STATIC_WIRELESS

config ZMK_KEYBOARD_NAME
    default "Static Wireless"

if ZMK_DISPLAY

config I2C
    default y

config SSD1306
    default y

config SSD1306_REVERSE_MODE
    default y

endif # ZMK_DISPLAY

endif
